/* Domains Parent Page */

/* Domains Intro - Overview */
#domains-overview{
    .overview{
        padding-bottom: 3rem;
        .domains-searchbar{
            margin-bottom: 2rem;
            .searchbar{
                margin: 0;
                .button{
                    margin: 0;
                    color: white;
                }
            }
        }
        hr{
            @media #{$large-up} {
                margin: 1.625rem 0 1.775rem;
            }
        }
    }
}


