// Styles for Login - Register Page at my.dnhost.gr

// Basic Wrapper and Titles
.account-login{
	margin-bottom: 2.5rem;
    margin-top: 2rem;
    text-align: center;
    @media #{$large-up} {
		margin-top: 3rem;
	}
	h2, h3{
		margin: 0;
		font-size: 2rem;
		font-weight: 300;
	    &:after{
	        content: "";
	        display: block;
	        height: 3px;
	        margin: 1rem auto 0;
	        width: rem-calc(150);
	        background-color: $my-orange;
	    }
	    @media #{$small-only} {
	    	font-size: 1.625rem;
			font-weight: 400;
	    }
	}
}
// Login Register forms styles
#all-forms{
	@media #{$large-up} {
		margin-bottom: 5rem;
		margin-top: 3rem;
	}
	.tabs{
		.tab-title{
            text-align: center;
            width: 50%;
            margin-bottom: 2rem !important;
            & > a{
                background-color: white;
                color: scale-color($medium-grey-section-bg-color, $lightness: -14%);
                border: 1px solid scale-color($medium-grey-section-bg-color, $lightness: -7%);
                font-size: 1.5rem;
                font-weight: 500;
                margin: 0 auto;
                text-align: center;
                width: 91.5%;
                line-height: 1.3;
                padding: 0.75rem;
    			@include transition(all 0.1s linear 0s);
			    small{
			    	display: block;
			    	font-size: 50%;
			    	font-weight: 300;
			    }
            }
            & > a:hover{
                border: 1px solid  $my-green;
                color:  $my-green;
            }
            &.active a{
                background-color:  $my-green;
                border: 1px solid  $my-green;
                color: white;
            }
        }
	}
	.accordion .accordion-navigation .content.active{
		border-bottom: 0 none;
		@media #{$small-only} {
	    	background-color: scale-color($light-grey-section-bg-color, $lightness: 30%);
	    }
	}
	form{
		padding: 0 0 0.75rem;
		@media #{$small-only} {
	    	padding: 0.25rem 0.5rem;
	    }
	}
}
// Reset forms styles
#reset-forms{
	.panel{
		&.reset-container{
			padding-top: 2.5rem;
			padding-bottom: 1.5rem;
			border-bottom: 2px solid scale-color($medium-grey-section-bg-color, $lightness: -5%);
		}
		&.callout{
		    border-width: 1px;
		    font-size: 0.95rem;
		    line-height: 1.4;
		    p{
		    	font-size: 0.95rem;
		    	line-height: 1.4;
		    }
		}
	}
	form{
        p.system-response{
        	//background-color: #b5dded;
		    //border: 1px solid #74bfdd;
		    //padding: 0.5rem 0.75rem;
		    //font-size: 0.925rem;
        } 
	}
    a.link{
    	display: inline-block;
    	margin-top: 1rem;
    }
    .account-suspended-msg{
    	.alert-box{
    		&.alert{
    			font-size: 0.9rem;
    			line-height: 1.3;
    			padding: 1.25rem;
    		}
    	}
    }   
}

// Common styles between login and reset forms
#all-forms, #reset-forms{
	form{
		label{
            font-weight: 500;
            @media #{$large-up}{
    			text-align: right;
	    	}
        } 
	}
	.button, button{
		padding: 0.725rem 1.25rem 0.7875rem;
		.loading{
			.spinner{
				left: 9px;
				position: relative;
			}
		}
	}
	hr{
    	margin: 1.25rem 0 0.5rem;
    }
}

