.checkbox label,
.checkbox-inline label, .radio label,
.radio-inline label {
  position: inherit;
  line-height: 1.3;
  display: inline; }

.checkbox .checkbox__label,
.checkbox-inline .checkbox__label, .radio .radio__label,
.radio-inline .radio__label {
  line-height: 20px;
  display: inline-block;
  margin-left: 1.75rem; }
  .checkbox .checkbox__label:before,
  .checkbox-inline .checkbox__label:before, .radio .radio__label:before,
  .radio-inline .radio__label:before {
    left: -0.5rem;
    position: relative;
    margin-left: -1.25rem;
    float: left;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    border: 2px solid #b7bfc4;
    background-color: white;
    content: '';
    transition: all 250ms; }
  .checkbox .checkbox__label:hover::before,
  .checkbox-inline .checkbox__label:hover::before, .radio .radio__label:hover::before,
  .radio-inline .radio__label:hover::before {
    border-color: #eb7092; }

@-moz-document url-prefix() {
  .checkbox .checkbox__label:before,
  .checkbox-inline .checkbox__label:before, .radio .radio__label:before,
  .radio-inline .radio__label:before {
    line-height: 15px; } }

.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'], .radio input[type='radio'],
.radio-inline input[type='radio'] {
  display: none; }
  .checkbox input[type='checkbox']:checked + span::before,
  .checkbox-inline input[type='checkbox']:checked + span::before, .radio input[type='radio']:checked + span::before,
  .radio-inline input[type='radio']:checked + span::before {
    background: #eb7092;
    border-color: #eb7092; }
  .checkbox input[type='checkbox']:disabled + span::before,
  .checkbox-inline input[type='checkbox']:disabled + span::before, .radio input[type='radio']:disabled + span::before,
  .radio-inline input[type='radio']:disabled + span::before {
    border-color: #efefef; }
  .checkbox input[type='checkbox']:disabled:hover + span,
  .checkbox-inline input[type='checkbox']:disabled:hover + span, .radio input[type='radio']:disabled:hover + span,
  .radio-inline input[type='radio']:disabled:hover + span {
    cursor: not-allowed; }
  .checkbox input[type='checkbox']:disabled:checked + span::before,
  .checkbox-inline input[type='checkbox']:disabled:checked + span::before, .radio input[type='radio']:disabled:checked + span::before,
  .radio-inline input[type='radio']:disabled:checked + span::before {
    background-color: #efefef; }

.checkboxes-inline .checkbox-inline:first-child, .radios-inline .radio-inline:first-child {
  padding-left: 0; }

.checkbox .checkbox__label:before,
.checkbox-inline .checkbox__label:before {
  content: '\e614';
  font-family: 'Icomoon'; }

.radio .radio__label:before,
.radio-inline .radio__label:before {
  border-radius: 50%;
  box-shadow: 0 0 0 3px inset; }

.no-bullet .radio, .no-bullet .checkbox {
  margin-bottom: 0.35rem; }

p.radio-label {
  color: #527F9C;
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 0.2rem; }
